ThemeTemplate = "./rsc/themeTemplate.html"
SearchTemplate = "./rsc/searchTemplate.html"
ItemTemplate = "./rsc/itemTemplate.html"
Include_path = "./rsc/includes"
Tag_contents = "$content$"
Tag_class = "$class$"
Tag_file_href = "$file-href$"
Tag_item_type = "$item-type$"
Tag_root_step = "$root-step$"
Tag_domain = "$domain$"
Tag_root_dir = "$root-dir$"
Tag_sidenav = "$side-nav$"
Tag_breadcrumb = "$breadcrumb"
